.trabalhos {
  background-color: #f7f7f7;
}
.content-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f7f7f7;
  max-width: 1300px;
  padding: 5rem 3rem 0rem 3rem;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}
.content-p ul .partes {
  width: 200px;
}
.titulo-desktop {
  width: 300px;
  justify-self: start;
  align-self: center;
}
.titulo-mobile {
  display: none;
}
.artes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 400px;
  justify-self: end;
}
.partes {
  display: grid;
  gap: 10px;
}
.partes img {
  width: 200px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.partes img:hover {
  transform: translateY(-3px);
}
.parte-um {
  gap: 20px;
}
@media (max-width: 800px) {
  .content-p {
    grid-template-columns: 1fr;
    padding: 5rem 1rem 3rem 1rem;
    justify-self: center;
  }
  .artes {
    justify-self: center;
  }
  .titulo-desktop {
    display: none;
  }
  .titulo-mobile {
    width: 100%;
    display: flex;
  }
}
