.localizacao {
  background-color: #141414;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  padding: 5rem 3rem 5rem 3rem;
  margin: 0 auto;
  gap: 30px;
}
.primeira {
  display: grid;
  justify-items: center;
  height: max-content;
}
.grid h2 {
  color: #f7f7f7;
}
.segunda h2 {
  text-align: center;
}
.qr-code {
  display: flex;
  justify-content: center;
}
.qr-code-img {
  width: 250px;
}
.wpp-logo {
  display: none;
}
.mobile p {
  display: none;
}
.telefone {
  color: #f7f7f7;
  text-decoration: none;
}
.telefone:hover {
  color: #ffffff;
}
@media (max-width: 800px) {
  .grid {
    padding: 5rem 1rem 5rem 1rem;
    grid-template-columns: 1fr;
  }
  .primeira {
    text-align: center;
  }
  .qr-code-img {
    display: none;
  }
  .mobile {
    display: flex;
    gap: 10px;
  }
  .mobile p {
    display: flex;
  }
  .wpp-logo {
    display: flex;
    width: 30px;
  }
}
