.trabalhos-p2 {
  background-color: #f7f7f7;
}
.content-p2 {
  max-width: 1300px;
  padding: 5rem 3rem 0rem 3rem;
  margin: 0 auto;
  background-color: #f7f7f7;
}
.visivel {
  display: none;
}
.trabalhos-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.trabalhos-todos img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #000000;
  transition: 0.3s ease-in-out;
}
.trabalhos-todos img:hover {
  transform: translateY(-3px);
}
@media (max-width: 750px) {
  .content-p2 {
    grid-template-columns: 1fr;
    padding: 0rem 1rem 3rem 1rem;
  }
  .trabalhos-todos img {
    width: 120px;
    height: 120px;
  }
  .trabalhos-todos {
    gap: 10px;
  }
}
